#map { height: 500px; }

#quees{
    background-image: linear-gradient(rgba(116, 235, 195, 0.5), rgba(21, 39, 245, 0.5)),url("../../assets/img/acercade/medico.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

#textoQueEs{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25%;
    text-align: justify;
    padding: 30px;
}


body {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
    text-align: center;
}


.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px  rgb(9, 74, 136);
}

.card .face front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
    font-size: 30px;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    box-shadow: 0 5px 10px  rgb(9, 74, 136);
    -webkit-transform: perspective(600px) rotateY(180deg);
    -moz-transform: perspective(600px) rotateY(180deg);
    -ms-transform: perspective(600px) rotateY(180deg);
    -o-transform: perspective(600px) rotateY(180deg);
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

#tarjetas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background: white;
}

#dos{
    background-color: rgb(9, 74, 136);
    padding: 30px;
    font-size: 30px;
    color: white;
    line-height: 2.5;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);

}

#tarCirculares{
    display: flex;
    line-height: 2;
}

#tarAvatar{
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    line-height: 2;
}


#nosotros{
    display: flex;
text-align: center;
    background:rgb(9, 74, 136);
    padding: 30px;
    justify-content: center;
}

.card-alumno{
    position: relative;
    width: 300px;
    height: 300px;
}

.card-alumno .card_landing {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px #000;
    background: linear-gradient(transparent 80%, #000), var(--i);
    background-position: center;
    background-size: cover;
    z-index: 100;
}

.card-alumno .card_landing h6 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 25px;
    color: #fff;
}

.card-alumno .card_info {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding: 15px;
    background: #fff;
    z-index: 90;
    box-shadow: 0 5px 10px #000;
    transition: .5s;
}

.card-alumno:hover .card_info {
    left: 100%;
}

.card_info .head {
    padding: 5px 0;
    border-bottom: solid 1px rgb(9, 74, 136);
}

.card_info .head .title {
    font-size: 20px;
    font-weight: 700;
    color:rgb(9, 74, 136);
}

.card_info .head .description {
    display: flex;
    gap: 10px;
}

.card_info .head .description .item {
    display: flex;
    gap: 5px;
    align-items: center;
}

.card_info .head .description .item p {
    font-size: 13px;
}

.card_info .content {
    margin-top: 15px;
    text-align: justify;
}

#contenedorMapa{
    display: flex;
}

#info{
    background-color: blue;
}

