.banner {
    background-image: linear-gradient(rgba(116, 235, 195, 0.5), rgba(21, 39, 245, 0.5)), url("/assets/img/fondo_banner.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 180px 20px;
    text-align: center;
    position: relative; /* Agregamos posición relativa al contenedor del banner */
}
  
.banner-img-container {
    position: relative; /* Agregamos posición relativa al contenedor de la imagen */
}
  
.banner-img-container img {
    position: absolute; /* Cambiamos la posición de la imagen a absoluta */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.banner h1 {
    font-size: 36px;
    margin-top: 0;
    color: rgb(62, 62, 231);
    font-weight: bold;
}
  
.banner p {
    font-size: 18px;
    margin-bottom: 0;
    color: rgb(255, 255, 255);
}

.recomendacion{
    padding: 40px 30px;
}

.recomendacion img{
    border-radius: 50px;
}

.appointment-section {
    background-color: #f4f4f4;
    padding: 50px 20px;
    font-size: 18px;
}
  
.appointment-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
  
.appointment-container h2 {
    margin-top: 0;
}
  
.appointment-container ol {
    margin-top: 20px;
    margin-bottom: 0;
}
  
.appointment-container li {
    margin-bottom: 10px;
    text-align: center;
    list-style-type: none;
}

.appointment-container li span{
    background-color: rgb(62, 62, 231);
    border-radius: 80px;
    padding: 10px 15px;
    color: #fff;
    margin-right: 10px;
}

.encuesta{
    padding: 30px 50px;
}

.encuesta *{
    padding: 10px 15px;
}