/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: bisque;
}
.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.logo {
    height: 130px;
    margin-bottom: 10px;
}

.body {
    width: 100%;
    max-width: 330px;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.form-floating {
    text-align: start;
}

.errorLabel {
    margin-left: 5px;
}

.registro{
    display: flex;
    align-items: center;
    text-align: center;
}

.form{
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: 100vh; /* Altura del contenedor */
}



  
  .container {
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
  }
  
  .container form {
    width: 300px;
    margin-bottom: 20px;
  }
  
  .container input[type="text"],
  .container input[type="email"],
  .container input[type="date"],
  .container input[type="time"],
  .container button[type="submit"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .container button[type="submit"] {
    width: 100%;
    padding: 10px;
  }
  
  .container table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  .container th,
  .container td {
    padding: 8px;
  }
  
  .container th {
    background-color: #08cbfc;
  }
  
  .container tr:nth-child(odd) {
    background-color: #65f7b3a6;
  }
  
  .container tr:nth-child(even) {
    background-color: #70deffa9;
  }


  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
  }
  
  .container2 h2 {
    margin-top: 20px;
  }
  
  .container2 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 20px;
  }
  
  .container2 form input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  .container2 form button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .container2 form button:hover {
    background-color: #218838;
  }
  
  .container2 table {
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  .container2 th, .container2 td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .container2 th {
    background-color: #08cbfc;
  }
  
  .container2 tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .container2 tr:hover {
    background-color: #ddd;
  }
  
  .container2 button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
  }
  
  .container2 button:hover {
    background-color: #218838;
  }